VITE_FIREBASE_API_KEY=AIzaSyApB7McuGWcBEnizCqn05rK-WmIdX-FttU
VITE_FIREBASE_AUTH_DOMAIN=bingoverse-beb9e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=bingoverse-beb9e
VITE_FIREBASE_STORAGE_BUCKET=bingoverse-beb9e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1033071869446
VITE_FIREBASE_APP_ID=1:1033071869446:web:7943d628d8190365104d87
VITE_FIREBASE_MEASUREMENT_ID=G-XLV1L6CW72
